fastapi==0.62.0
uvicorn==0.17.4
gunicorn
docx2txt
nltk==3.4.5
spacy==2.3.5
requests
python-docx
fastapi==0.62.0
motor==2.3.0
pydantic==1.7.3
regex==2020.11.13
python-dotenv
passlib[bcrypt] 
PyJWT==1.7.1 
python-decouple==3.3
pyresparser
textract
python-multipart